<div class="neos-left">
	<div id="neos-aloha-topmenu"></div>
	{{view view.ContentDimensionSelector}}
</div>

<div class="neos-right">
	{{view view.SaveIndicator
		saveRunningBinding="view._nodeEndpoint._saveRunning"
		lastSuccessfulTransferBinding="view._nodeEndpoint._lastSuccessfulTransfer"
		classNames="neos-context-bar-save-indicator"
	}}

	<button class="neos-button neos-full-screen-open" title="{{translate id='content.components.contentContextBar.button.title' default='Full Screen'}}" {{action "toggleFullScreen" target="view.fullScreenController"}}>
		<i class="icon-resize-full"></i>
	</button>
</div>