<div class="neos-modal" id="discardAllDialog">
	<div class="neos-modal-header">
		<button data-dismiss="modal" class="neos-close neos-button icon-remove" title="{{translate id='button.close' default='close'}}" {{action "cancel" target="view"}}></button>
		<div class="neos-header">{{translate id="content.components.discardAllDialog.discardAllChangesHeader" default="Discard all changes"}}</div>
		<div>
			<div class="neos-subheader">
				{{translate id="content.components.discardAllDialog.discardAllChangesSubheader" default="Are you sure that you want to discard all changes in this workspace?"}}
			</div>
		</div>
	</div>
	<div class="neos-modal-footer">
		<button data-dismiss="modal" class="neos-button" title="{{translate id='button.cancel' default='Cancel'}}" {{action "cancel" target="view"}}>
			{{translate id="button.cancel" default="Cancel"}}
		</button>
		<button data-dismiss="modal" class="neos-button neos-button-success" title="{{translate id='button.discard' default='Discard'}}" {{action "discard" target="view"}}>{{translate id="button.discard" default="Discard"}}</button>
	</div>
</div>
<div class="neos-modal-backdrop neos-in"></div>